.card-sm-container{
    width: 100%;
    margin-bottom: 2rem;
    font-family: 'Lato', serif;
}
.card-sm-img{
    width: 100%;
    height: 80%;
}
.card-sm-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.card-sm-title{
    font-family: 'Lustria', sans-serif;
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
}
.card-sm-artist{
    margin: 0.3rem 0;
    font-size: 1.2rem;
    opacity: 0.7;
}
.card-sm-date{
    margin: 0.3rem 0;
}