*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*::selection{
  background-color: grey;
  color: white;
}
body{
  background-color: #222;
}
body::-webkit-scrollbar{
  display: none;
}
ul{
  list-style: none;
}